<plugin name='cdn-resources' version='0.2.1' grailsVersion='1.3.1 &gt; *'>
  <author>Tomas Lin</author>
  <authorEmail>tomaslin@gmail.com</authorEmail>
  <title>Cdn Resources Plugin</title>
  <description>\
Loads static resources using Content Delivery Networks using the Resources plugin framework
</description>
  <documentation>https://github.com/tomaslin/grails-cdn-resources</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>grails.plugin.cdnresources.CdnResourceMapper</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
  </dependencies>
  <behavior />
</plugin>